Example 1

In [2]:
print("Hello, World!")

Hello, World!

Example 2

In [6]:
import sys

print(sys.version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]

Example 3

In [9]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

Example 4

In [12]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

Example 5

In [18]:
x = 5
y = "Hello, World!"

print(x)
print(y)

5
Hello, World!

Exapmle 6

In [20]:
#This is a comment.
print("Hello, World!")

Hello, World!

Example 7

In [23]:
print("Hello, World!") #This is a comment

Hello, World!

Example 8

In [28]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

Example 9

In [31]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

Example 10

In [36]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

Example 11

In [39]:
x = 5
y = "John"
print(x)
print(y)

5
John

Example 12

In [42]:
x = 4
x = "Sally"
print(x)

Sally

Example 13

In [48]:
x = str(3)
y = int(3)
z = float(3)

print(x)
print(y)
print(z)

3
3
3.0

Example 14

In [51]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Example 15

In [54]:
x = "John"
print(x)
x = 'John'
print(x)

John
John

Example 16

In [57]:
a = 4
A = "Sally"

print(a)
print(A)

4
Sally

Example 17

In [60]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

Example 18

In [63]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

Example 19

In [66]:
x = y = z = "Banana"
print(x)
print(y)
print(z)

Banana
Banana
Banana

Example 20

In [69]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

Example 21

In [72]:
x = "Python is awesome"
print(x)

Python is awesome

Example 22

In [75]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

Example 23

In [78]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

Example 24

In [81]:
x = 5
y = 10
print(x + y)

15

Example 25

In [84]:
x = 5
y = "John"
print(x, y)

5 John

Example 26

In [91]:
x = "awesome"
def func():
    print("Python is " + x)

func()

Python is awesome

Example 27

In [94]:
x = "awesome"
def func():
    x = "fantastic"
    print("Python is " + x)

func()

print("Python is " + x)

Python is fantastic
Python is awesome

Example 28

In [97]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Example 29

In [100]:
x = "awesome"
def func():
    global x
    x = "fantastic"

func()
print("Python is " + x)

Python is fantastic

Example 30

In [105]:
x = 5
print(type(x))

<class 'int'>

Example 31

In [132]:
x = "Hello World"
#display x:
print(x)
#display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [130]:
x = 20
#display x:
print(x)
#display the data type of x:
print(type(x))

20
<class 'int'>

In [126]:
x = 20.5
#display x:
print(x)
#display the data type of x:
print(type(x))

20.5
<class 'float'>

In [128]:
x = 1j
#display x:
print(x)
#display the data type of x:
print(type(x))

1j
<class 'complex'>

In [138]:
x = ["apple", "banana", "cherry"]
#display x:
print(x)
#display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [136]:
x = ("apple", "banana", "cherry")
#display x:
print(x)
#display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [140]:
x = range(6)
#display x:
print(x)
#display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [142]:
x = {"name" : "John" , "age" : 36}
#display x:
print(x)
#display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [144]:
x = {"apple", "banana", "cherry"}
#display x:
print(x)
#display the data type of x:
print(type(x))

{'cherry', 'banana', 'apple'}
<class 'set'>

In [146]:
x = frozenset({"apple", "banana", "cherry"})
#display x:
print(x)
#display the data type of x:
print(type(x))

frozenset({'cherry', 'banana', 'apple'})
<class 'frozenset'>

In [148]:
x = True
#display x:
print(x)
#display the data type of x:
print(type(x))

True
<class 'bool'>

In [150]:
x = b"Hello"
#display x:
print(x)
#display the data type of x:
print(type(x))

b'Hello'
<class 'bytes'>

In [152]:
x = bytearray(5)
#display x:
print(x)
#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [158]:
x = memoryview(bytes(5))
#display x:
print(x)
#display the data type of x:
print(type(x))

<memory at 0x000002259123BF40>
<class 'memoryview'>

In [160]:
x = None
#display x:
print(x)
#display the data type of x:
print(type(x))

None
<class 'NoneType'>

Example 31

In [165]:
x = 1
y = 2.8
z = 1j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

Example 32

In [172]:
x = 1
y = 52656223887711
z = -4358522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

Example 33

In [183]:
x = 1.1
y = 1.3
z = -35.32

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Example 34

In [185]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Example 35

In [188]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

Example 36

In [190]:
#convert from int to float:
x = float(1)

#convert from float to int:
y = int(2.8)

#convert from int to complex:
z = complex(1)

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

Example 37

In [194]:
x = int(1)
y = int(2.8)
z = int("3")
print(x)
print(y)
print(z)

1
2
3

Example 38

In [197]:
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

Example 39

In [200]:
x = str("s1")
y = str(2)
z = str(3.0)
print(x)
print(y)
print(z)

s1
2
3.0

Example 40

In [203]:
#You can use double or single quotes:

print("Hello")
print('Hello')

Hello
Hello

Example 41

In [206]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

Example 42

In [209]:
a = "Hello"
print(a)

Hello

Example 43

In [212]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Example 44

In [215]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Example 45

In [217]:
a = "Hello World"
print(a[1])

e

Example 46

In [221]:
for x in "banana":
    print(x)

b
a
n
a
n
a

Example 47

In [226]:
a = "Hello, World!"
print(len(a))

13

Example 48

In [229]:
a = "The best things in life are free"
print("free" in a)

True

Example 49

In [231]:
a = "The best things in life are free"
if "free" in a:
    print("Yes, 'free' is present.")

Yes, 'free' is present.

Example 50

In [235]:
a = "The best things in life are free"
print("expensive" not in a)

True

In [239]:
a = "The best things in life are free"
if "expensive" not in a:
    print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

Example 51

In [242]:
b = "Hello, World!"
print(b[2:5])

llo

Example 52

In [245]:
b = "Hello, World!"
print(b[:5])

Hello

Example 53

In [248]:
b = "Hello, World!"
print(b[2:])

llo, World!

Example 54

In [250]:
b = "Hello, World!"
print(b[-5:-2])

orl

Example 55

In [252]:
a = "Hello World"
print(a.upper())

HELLO WORLD

In [258]:
a = "Hello World"
print(a.lower())

hello world

Example 56

In [260]:
a = " Hello, World! "
print(a.strip())

Hello, World!

Example 57

In [264]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [266]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

Example 58

In [271]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [273]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

Example 59

In [278]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [280]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [282]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

Example 60

In [287]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

Example 61

In [292]:
txt = 'It\'s alright.'
print(txt) 
#single quote

It's alright.

In [298]:
txt = "This will insert one \\ (backslash)."
print(txt)
#backslash

This will insert one \ (backslash).

In [300]:
txt = "Hello\nWorld!"
print(txt) 
#new line

Hello
World!

In [304]:
txt = "Hello\rWorld!"
print(txt) 
#Carriage Return

World!

In [306]:
txt = "Hello\tWorld!"
print(txt) 
#tab

Hello	World!

In [308]:
#This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt)

HelloWorld!

In [312]:
txt = "Hello, World!\fThis is a new page."
print(txt)
#Form feed

Hello, World!This is a new page.

In [318]:
#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

In [320]:
#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello